nav{
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  height: 50px;
  background: rgb(77, 93, 131);
  color: #FFF;
}
nav ul{list-style: none; display: flex;}
nav ul li{padding: 0 10px; border-right: 1px solid rgb(149, 142, 142); text-transform: uppercase; font-size: 13px;}
nav ul li:last-child{border-right: 0;}
nav ul li a{color: #FFF; text-decoration: none;}